body {
    font-family: "Bodoni Moda", serif;
    color: antiquewhite;
    background-image: url(./assets/images/blue.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  aside {
  color: #5f5e5e;
  }
  
  content li {list-style: none}

  img {
    float: left;
    height: auto;
    width: 300px;
  }


  .NavLink {color:#c2c2c2;
  }
  

  .aboutContainer{
    background-color: rgb(0, 9, 32);
  }
  
  .col {color: #5f5e5e
  }
  
  .border {padding: 10px}
  
  .navbar-brand {
    font-family: "Parisienne", cursive;
    font-size: 34;
  }
  
  .WT {
    font-size: 42px;
    color: rgb(200, 217, 248);
  }
  
  .text {
color: antiquewhite

  }

  
  @media only screen and (max-width: 767px){

    .img-thumbnail{
      float:none;
      margin-left: auto;
      margin-right: auto;
    }

    .aboutText{
      margin-top: 2rem;
    }

    .aboutHeader{
      margin-right: auto;
      margin-left: auto;
    }
  }